@page
@model WebApplication15.Pages.account.loginModel
@{
}

@TempData["alerta"];
<form method="post">
    nome
    <input type="text" name="usuario" />
    senha
    <input type="password" name="senha" />
    <input type="submit" />
</form>